<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>


    <div class="row">
      <div class="col-md-5">
        <%= image_tag "profilepic.png", width: 300, alt: "Profile images", class: 'profile-img' %>
      </div>
      <div class="col-md-7 aboutext">
        <p>Hi, my name is Slavko and I'm EU based web developer.
            <br> I have diverse set of skills, ranging from HTML + CSS + Javascript to Ruby on Rails.
            <br> You can find out more about me:
            <br>
            <br><a href="https://www.linkedin.com/in/slavko-galic-a62573148/">LinkedIn</a>
            <br><a href="https://github.com/SlavcG/">Github</a>
            <br><a href="https://www.instagram.com/slavcg/">Instagram</a>
            <br><a href="https://www.facebook.com/slavko.galic.75">Facebook</a>
        </p>
      </div>
    </div>

  </div>
</div>
